:root {
  --background-color: #1E1E1E;
  --nav-background-color: #252526;
  --card-background-color: #2D2D30;
  --primary-color: #2663EB;
  --button-background-color: #3E3E42;
  --bright-text-color: #FFFFFF;
  --dark-text-color: #6C7280;
  --border-color: #3C3C3F;

  --card-border-radius: 10px;
  --input-border-radius: 8px;

  --border: 1px solid var(--border-color);
  --card-border: 1px solid var(--border-color);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--bright-text-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
